@import '../../../scss/grid.scss';

.Video {
  padding: 0 21px;
  margin-bottom: 50px;
  font-size: 25px;
  line-height: 28px;
  font-weight: normal;

  .video-player-container {
    width: 100%;
    max-width: 650px;
    height: auto; // Reset height
    margin: 0 auto;
    margin-bottom: 25px;
    text-align: center;
    overflow: hidden;
    border: 5px solid #ffffff;
  }

  .container-flex-column {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .react-player {
    width: 100%;
    margin: 0 auto;
    padding-top: 56.25%; 
    position: relative; 
  }

  .react-player > div {
    position: absolute; // Scaling will occur since parent is relative now
    top: 0;
    left: 0;
  }
}
