@import '../../../scss/grid.scss';

.PersonIntroduction {
  padding: 0 21px;
  font-size: 25px;
  line-height: 28px;
  font-weight: normal;

  .image-col {
    text-align: center;
    img {
      max-width: 40%;
      height: auto;
      @include media-breakpoint-up(md) {
        max-width: 100%;
      }
    }
  }
}
