@import '../../styles/variables';

.ImageAndText_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;

  .ImageAndText_image {
    width: 100%; /* or a specific width */
    aspect-ratio: 1 / 1; /* 1:1 aspect ratio */
    overflow: hidden;
    position: relative;

    svg {
      z-index: 1;
      bottom: 0;
      position: absolute;
      right: 0;
    }

    &.persikka {
      svg path {
        fill: $persikka;
      }
    }
    &.laventeli {
      svg path {
        fill: $laventeli;
      }
    }
    &.pioni {
      svg path {
        fill: $pioni;
      }
    }
    &.aurinko {
      svg path {
        fill: $aurinko;
      }
    }
  }
  .ImageAndText_image img {
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }

  .ImageAndText_content {
    display: flex;
    flex-direction: column;
    align-items: start;
    //gap: 1rem;

    p {
      margin: 1rem 0;
    }

    .ImageAndText_cta {
      display: flex;
      align-items: center;
      justify-content: center;
      a {
        background-color: $black;
        padding: 0.5rem 1rem;
        border-radius: 2rem;
        color: $white;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

@media only screen and (max-width: $m-screen) {
  .ImageAndText_container {
    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;
  }
}
