.ExternalForm {
  margin-bottom: 1rem;

  &__link,
  &__link:visited {
    font-size: 2rem;
    text-decoration: underline;
    max-width: 30rem;
  }

  .form-icon {
    margin-right: 0.5rem;
    transform: translateY(5px);
  }
}

.external-link-icon {
  margin-left: 0.25rem;
  transform: translateY(-5px);
}
