@import '../../styles/variables';

.KeyPointsList_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  // display: flex;
  // flex-direction: row;
  // gap: 2rem;

  @media (max-width: 800px) {
    grid-template-columns: 1fr;
  }

  .KeyPointsList_left {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;

    .KeyPointsList_ingress {
      p {
        margin: 1rem 0;
      }
    }
  }
  .KeyPointsList_right {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: start;

    @media (max-width: $max-width-s) {
      grid-template-columns: 1fr;
    }

    &.persikka {
      li p:first-of-type {
        display: inline-block;
        padding: 0.5rem;
        background-color: $persikka;
      }
    }

    &.laventeli {
      li p:first-of-type {
        display: inline-block;
        padding: 0.5rem;
        background-color: $laventeli;
      }
    }

    &.pioni {
      li p:first-of-type {
        display: inline-block;
        padding: 0.5rem;
        background-color: $pioni;
      }
    }

    &.aurinko {
      li p:first-of-type {
        display: inline-block;
        padding: 0.5rem;
        background-color: $aurinko;
      }
    }
  }
}

// @media only screen and (max-width: $max-width-s) {
//   .KeyPointsList_container {
//     .KeyPointsList_left {
//       .KeyPointsList_button {
//         order: 1;
//       }
//     }
//   }
// }
