@import '../../styles/variables';

.KeyPointsList_container {
  display: grid;
  grid-template-columns: 1fr 1fr;

  .KeyPointsList_left {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
  }
  .KeyPointsList_right {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;

    li {
      p:first-of-type {
        background-color: $persikka;
      }
    }
  }
}
