@import '../../styles/variables';

.Footer_container {
  font-size: 14px;

  .Footer_layout {
    display: grid;
    gap: 1rem;
    max-width: 1400px;
    margin-inline: auto;

    .Footer_logos {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .Footer_naisten_linja_logo {
        img {
          width: 16rem;
        }
      }

      .Footer_scrolltotop {
        svg {
          width: 2rem;
          height: 2rem;
        }
      }
    }

    .Footer_main_content {
      display: grid;
      grid-template-columns: 1fr 2fr;
      align-items: start;
      gap: 2rem;

      .Footer_contacts {
        display: grid;
        gap: 1rem;

        .Footer_contact_box {
          display: grid;
        }

        .Footer_socials {
          display: flex;
          gap: 1rem;

          svg {
            width: 1rem;
            height: 1rem;
          }
        }
      }

      .Footer_links {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 3rem;

        .Footer_links_col {
          display: grid;
          gap: 1rem;
        }
      }
    }

    .Footer_bottom_section {
      display: flex;
      justify-content: space-between;

      .Footer_bottom_links {
        display: flex;
        gap: 1rem;
      }
    }
  }
}

@media only screen and (max-width: $m-screen) {
  .Footer_container {
    .Footer_layout {
      .Footer_main_content {
        .Footer_links {
          grid-template-columns: 1fr 1fr;
        }
      }
    }
  }
}

@media only screen and (max-width: $s-screen) {
  .Footer_container {
    .Footer_layout {
      .Footer_main_content {
        grid-template-columns: 1fr;

        .Footer_links {
          grid-template-columns: 1fr;
        }
      }
      .Footer_bottom_section {
        display: flex;
        flex-direction: column-reverse;
        gap: 1rem;

        .Footer_bottom_links {
          display: grid;
          gap: 0.5rem;
        }
      }
    }
  }
} ;
