@import '../../styles/variables';

.Footer_container {
  background-color: $ruis;
  padding: 2rem 0;

  .Footer_layout {
    display: grid;
    gap: 1rem;
    max-width: 1400px;
    margin-inline: auto;

    .Footer_logos {
      display: flex;
      justify-content: space-between;
    }

    .Footer_main_content {
      display: grid;
      grid-template-columns: 1fr 2fr;
      gap: 2rem;

      .Footer_contacts {
        display: grid;
        gap: 1rem;

        .Footer_contact_box {
          display: grid;
        }

        .Footer_socials {
          display: flex;
          gap: 1rem;
        }
      }

      .Footer_links {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 3rem;

        .Footer_links_col {
          display: grid;
          gap: 1rem;
        }
      }
    }

    .Footer_language_links {
    }

    .Footer_breakline {
      // border: none;
      // background-color: black;
      // height: 2px;
    }

    .Footer_bottom_section {
      display: flex;
      justify-content: space-between;

      .Footer_bottom_links {
        display: flex;
        gap: 1rem;
      }
    }
  }
}

@media only screen and (max-width: 800px) {
} ;
