@import '../../../scss/grid.scss';

.Paragraph {
  padding: 1.5rem;
  font-size: 25px;
  line-height: 28px;
  font-weight: normal;

  &--text-color-dark {
    color: #2E303A;
    a {
      color: #2E303A;
    }
  }

  &__title {
    text-align: center;
    width: 100%;
  }

  .image-col {
    text-align: center;
  }

  @include media-breakpoint-up(md) {
    .column-count-2 {
      column-count: 2;
    }

    .column-count-3 {
      column-count: 3;
    }
  }

  h2 {
    margin-top: 2.5rem
  }
}
