@import '../../../scss/grid.scss';

.Paragraph {
  padding: 0 21px;
  margin-bottom: 50px;
  font-size: 25px;
  line-height: 28px;
  font-weight: normal;

  &__title {
    text-align: center;
    width: 100%;
  }

  .image-col {
    text-align: center;
  }

  @include media-breakpoint-up(md) {
    .column-count-2 {
      column-count: 2;
    }

    .column-count-3 {
      column-count: 3;
    }
  }
}

.Pink {
  padding-top: 4rem;
  margin: 3rem 0;
  position: relative;

  .Paragraph {
    color: #111111;
    z-index: 2;
    position: relative;
  }

  &:before {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: skewY(5deg);
    content: "";
    background-color: #ffc4c8;
    z-index: 1;
  }
}
