@import '../../styles/variables';

.AlertBar_container {
  color: $white;
  display: flex;
  flex-flow: row nowrap;

  overflow: hidden;
  background-color: $black;

  user-select: none;
  padding: 1rem 0;
  --gap: 2rem;

  &:hover {
    text-decoration: underline;
  }

  & .AlertBar_link,
  .AlertBar_text {
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    flex-flow: row nowrap;
    gap: var(--gap);

    margin: 0 2rem;
    min-width: 100%;

    animation-name: scroll;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 20s;

    & .AlertBar_content {
      display: flex;
      align-items: center;
      gap: 1rem;

      svg {
        min-width: 1.25rem;
        width: 1.25rem;
        height: 1.25rem;
      }
    }

    @media (prefers-reduced-motion: reduce) {
      animation-play-state: paused !important;
    }
  }
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

// https://ryanmulligan.dev/blog/css-marquee/
