@import '../../styles/variables';

.AlertBar_container {
  color: $white;
  text-align: center;
}

.AlertBar_link_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: $white;

  svg {
    width: 1.25rem;
    height: 1.25rem;
  }
}

.AlertBar_container_link {
  color: $white;
  text-align: center;
  &:hover {
    text-decoration: underline;
  }
}

// TODO: scrolling text
// @media only screen and (max-width: 800px) {
//   .AlertBar_link_wrapper {
//     display: inline-block; /* Ensure the text is treated as a block for animation */
//     white-space: nowrap; /* Prevent text from wrapping */
//     overflow: hidden; /* Hide overflow text */
//     animation: scrollText 10s linear infinite; /* Apply the animation */
//   }

//   @keyframes scrollText {
//     0% {
//       transform: translateX(-100%); /* Start from the right */
//     }
//     100% {
//       transform: translateX(100%); /* Move to the left */
//     }
//   }
// }
