@import '../../styles/variables';

.AlertBar_container {
  color: $white;
  text-align: center;
}

.AlertBar_container_link {
  color: $white;
  text-align: center;
  &:hover {
    text-decoration: underline;
  }
}
