@import '../../styles/variables';
.ContentBox_container {
  display: grid;
  gap: 1rem;

  .ContentBox__title {
    background-color: black;
    color: white;
    padding: 1rem;
    box-sizing: border-box;
  }
  .inline-link {
    display: grid;
    grid-template-columns: 2rem 1fr;
    color: $ruukku-750;
    margin: 1rem;
    &:hover {
      color: $black;
    }
  }
}
