.ContentBoxGroup_container {
  background-color: white;
  color: black;
  padding: 1rem;
  display: grid;
  gap: 1rem;

  .ContentBoxGroup_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}
