@use '_variables' as *;

html {
  scroll-padding-top: 6rem;
  scroll-behavior: smooth;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font;
}

h3,
h4,
h5,
h6 {
  font-family: $primary-font;
}

h1 {
  font-size: 44px;
  font-weight: 600;
}
h2 {
  font-size: 40px;
  font-weight: 600;
}
h3 {
  // font-size: 32px;
  font-size: 20px;
  font-weight: 600;
}
h4 {
  // font-size: 28px;
  font-size: 18px;
  font-weight: 600;
}
h5 {
  // font-size: 24px;
  font-size: 16;
  font-weight: 600;
}
h6 {
  font-size: 20px;
  font-weight: 600;
}

strong {
  font-weight: 600;
}

body {
  font-family: $primary-font;
}
@media only screen and (max-width: $mobile-breakpoint) {
  h1 {
    font-size: 32px;
    font-weight: 600;
  }
  h2 {
    font-size: 28px;
    font-weight: 600;
  }
  h3 {
    font-size: 24px;
    font-weight: 600;
  }
}
