// Fonts
$heading-font: 'Playfair Display', serif;
$primary-font: 'Work Sans', sans-serif;

//Breakpoint & widths
$max-width: 1400px;

$xs-screen: 375px;
$s-screen: 640px;
$m-screen: 768px;
$l-screen: 1024px;
$xl-screen: 1280px;
$xxl-screen: 1536px;

$mobile-breakpoint: 620px;

// Colors
$black: #0d0c0c;
$white: #ffffff;
$persikka: #ffbf80;
$ruukku: #b26b24;
$ruukku-750: #643c15;
$laventeli: #ceaaf2;
$mustikka: #70548c;
$pioni: #ffb2b2;
$bordeaux: #80404a;
$ruis: #ede2d5;
$aurinko: #ffd24c;
$varjo: #b28600;

// Spacers
