@import '../../scss/grid.scss';
@import '../mixins.scss';

header {
  color: #ffffff;
  // background: url('https://images.ctfassets.net/pbxhiiewat8h/3TBW7IKN0lk3eNXq5n2EyV/9792239590bb64fffc93dd5c7ab2bc7d/Vector_37.svg') right bottom no-repeat;

  // @include media-breakpoint-up(md) {
  //   background: url('https://images.ctfassets.net/pbxhiiewat8h/54cEj6rXSVK67PQ4YLOxur/fae0a6476dd6e2a24867bb15cbed3696/Vector_37.svg')
  //       right top no-repeat,
  //     url('https://images.ctfassets.net/pbxhiiewat8h/7y5BWGTg4MsZSWggHOYtTJ/f5c32a96033ef923324843336e5fbb1f/Vector_45.svg')
  //       left bottom no-repeat;
  // }

  padding-top: 1.5rem;

  @include media-breakpoint-up(md) {
    padding-top: 4rem;
  }

  .menu-row {
    padding: 5px 8px;
  }

  .escape-link-container {
    @include layout-container-mixin;
    position: fixed;
    height: 1px;
    left: 50%;
    top: 1.5rem;
    transform: translateX(-50%);
    z-index: 19;

    @include media-breakpoint-up(md) {
    top: 3.5rem;
    }
  }

  .escape-link-box {
    background: #5c6572;
    border: 2px solid #d2edeb;
    color: #ffffff;
    text-decoration: none;
    box-sizing: border-box;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.14);
    border-radius: 10px;
    display: flex;
    max-width: 107px;
    height: 68px;
    float: right;
    margin-right: 0.5rem;

    @include media-breakpoint-up(md) {
      margin-right: 0;
    }

    .escape-link,
    .escape-link:visited {
      font-family: 'Alegreya Sans';

      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 90%;
      display: flex;
      height: 100%;
      align-items: center;
      text-align: center;
      letter-spacing: 0.07em;
    }

    .escape-link:hover {
      text-decoration: underline;
    }
  }

  .logo-link {
    display: block;
    width: 91px;
    height: 91px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 50%;
    background-color: #fff;
  }

  h2 {
    text-align: center;
    margin-top: 32px;
    font-style: normal;
    font-weight: normal;
    font-size: 37px;
    line-height: 110%;
    text-align: center;
    letter-spacing: 0.07em;
  }

  .nl-girls {
    display: block;
    margin: 0 auto;
    width: 233px;
    height: 339px;
  }
}
