@use '../../styles/variables' as *;

.CtaHighlight_container {
  background-size: cover;
  padding: 4rem 0;

  .CtaHighlight_text_content {
    background-color: $white;
    max-width: 745px;
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .CtaHighlight_text {
      p {
        margin: 1rem 0;
      }
    }
  }

  .CtaHighlight_cta_container {
    display: flex;
    gap: 1rem;
  }
}

@media only screen and (max-width: $m-screen) {
  .CtaHighlight_container {
    padding: 8rem 1rem 2rem 1rem;
    .CtaHighlight_text_content {
      padding: 2rem 1rem;
      .CtaHighlight_cta_container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }
    }
  }
}
