@import '../scss/grid.scss';
@import './mixins.scss';

.react-cookie-law-container {
  @include layout-container-mixin;
}

.react-cookie-law-option-wrapper {
  input[type="checkbox"]+label {
    position: relative;
    padding-left: 28px !important;
    color: '#9496a0';

    &:before {
      content: "";
      width: 18px;
      height: 18px;
      position: absolute;
      border: 2px solid #5c6572;
      border-radius: 2px;
      left: 0;
      top: 50%;
      z-index: 2;
      display: block;
      transform: translateY(-50%);
    }
  }

  input[type="checkbox"]:checked+label {
    &:before {
      background-color: #3c377e;
      border-color: #3c377e;
    }

    &:after {
      position: absolute;
      content: "";
      display: block;
      width: 12px;
      height: 12px;
      background-image: url('/images/check-mark.svg');
      background-size: contain;
      background-repeat: no-repeat;
      left: 3px;
      top: 50%;
      z-index: 3;
      transform: translateY(-50%);
    }
  }


  input[type="checkbox"]#check-required-cookies:checked+label {
    &:before {
      background-color: #5c6572;
      border-color: #5c6572;
    }
  }
}
