@import '../../scss/grid.scss';

footer {
  background-color: #294374;
  color: #ffffff;
  font-size: 1rem;
  padding: 5rem 1rem 0;
  align-self: flex-end;

  p {
    font-size: 1rem;
  }

  h2 {
    font-family: 'Alegreya Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 28px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
  }

  ul {
    list-style-position: inside;
    margin-left: 0;
  }

  ul li {
    list-style-type: none;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 8px;
  }

  ul li a,
  ul li a:visited {
    color: #ffffff;
  }

  .breakline {
    margin-top: 2rem;
    margin-bottom: 16px;
    background-color: #edeeef;
  }

  .company-information,
  .company-information:visited {
    font-family: 'Alegreya Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 19px;
    text-decoration-line: underline;
    color: #ffffff;
  }

  .copyright-info {
    margin: 2rem 0;
  }

  .social-media-links {
    li {
      margin: 0.5rem 0;
      font-size: 1;
      svg {
        transform: translateY(10px);
        margin-right: 0.5rem;
      }
    }
  }
}
