@import '../../styles/variables';

.CtaButton_container {
  display: flex;
  align-items: center;
  justify-content: center;
  a {
    background-color: $black;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    color: $white;
    &:hover {
      text-decoration: underline;
    }
  }
}
