@import '../../../scss/grid.scss';
@import '../../mixins.scss';

.DonationForm {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: between;
  padding-left: 0.5rem;
  padding-right: 0.5rem;

  @include layout-container-mixin;
  margin: 4rem auto;

  @include media-breakpoint-up(lg) {
    width: map-get($container-max-widths, md);
  }

  @include media-breakpoint-up(md) {
    padding-left: 0;
    padding-right: 0;
  }

  h1 {
    width: 100%;
    text-align: center;
  }

  &__description {
    font-size: 1.5rem;
    line-height: 1.2;
    text-align: center;
    width: 100%;
    margin-bottom: 2rem;
    font-weight: 400;
  }


  &__donation-image {
    width: 100%;
    background-image: url('/images/donation.png');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 14rem;
    @include media-breakpoint-up(md) {
      width: calc(50% - 2rem);
    }
  }

  &__amount-list {
    width: 100%;
    @include media-breakpoint-up(md) {
      width: 50%;
    }
  }

  &__amount {
    border-radius: 4px;
    cursor: pointer;
    margin: 0.5rem 0;
    width: 100%;
    border: none;
    padding: 1rem 2rem;
    font-size: 2rem;
    background: #a6e8e3;
    box-shadow: -2px 3px 3px rgba(0, 0, 0, 0.2);
    &:hover {
      box-shadow: -2px 3px 3px rgba(0, 0, 0, 0.6);
    }
  }
}
