@import '../../styles/variables';
.Hero {
  margin-top: 6rem;
  background-color: $ruis;

  background-size: cover;
  .wave {
    background-image: url('/images/wave.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom left;
  }
  .container {
    max-width: $max-width;
    padding: 4rem 1rem;

    &.withBgImage {
      display: flex;
      flex-flow: column;
      align-items: flex-end;

      .text-container {
        max-width: 700px;
        margin: 6rem 0 2rem 1rem;
      }
    }
    .text-container {
      background-color: $white;
      max-width: 960px;
      width: 100%;
      margin: auto;
      padding: 2rem 4rem;

      .back-link {
        display: grid;
        font-size: 16px;
        grid-template-columns: 1rem 1fr;
        gap: 0.5rem;
        align-items: center;
        color: $ruukku-750;
        &:hover {
          text-decoration: underline;
        }
      }
      h1 {
        font-family: $primary-font;
        text-transform: uppercase;
        font-style: italic;
        margin: 1rem 0;
        font-size: 44px;
        font-weight: bold;
        line-height: 1.1;
      }
      .ingress p {
        font-size: 20px;
      }
    }
    .buttons {
      gap: 1rem;
      margin: auto;
      max-width: 960px;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      a {
        background-color: $black;
        color: $white;
        padding: 1rem;
        display: grid;
        grid-template-columns: 1fr 1rem;
        gap: 1rem;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
@media only screen and (max-width: 800px) {
  .Hero {
    margin-top: 6rem;
    padding: 0;
    .container {
      .text-container {
        padding: 2rem 1rem;
        h1 {
          font-size: 32px;
        }
        .ingress p {
          font-size: 18px;
        }
      }
      .buttons {
        grid-template-columns: 1fr;
      }
    }
  }
}
