@import '../../styles/variables';

.Paragraph_container {
  position: relative;
  display: grid;
  gap: 1rem;

  ul {
    list-style: disc;
    margin-left: 2rem;
  }

  ol {
    list-style: decimal;
    margin-left: 2rem;
  }

  u {
    background-color: $persikka;
    text-decoration: none;
    padding: 0.25rem 0.5rem;
  }

  a {
    color: $ruukku-750;
    text-decoration: underline;
  }

  blockquote {
    background-color: $persikka;

    cite {
      margin-left: 2rem;
    }
  }

  table {
    // border: none;
    // border-spacing: 1rem 2rem;
    width: 100%;
    text-align: left;
    border-collapse: separate !important;
    & thead {
      background-color: peachpuff;
    }

    & tbody {
      & tr {
        border-bottom: 1px solid black;
      }
    }
  }
}
