.ContentfulBackground {
  &--wavy {
    margin-top: 7rem;
    margin-bottom: 8rem;

    > .ContentfulBackground__content {
      margin-top: -5rem;
    }
  }

  &--wavy-top,
  &--wavy-bottom {
    position: absolute;
    width: 100% !important;
    height: auto !important;
    z-index: -1;
  }

  &--wavy-top {
    bottom: 100%;
  }

  &--wavy-bottom{
    top: 100%;
  }

}
